@font-face {
    font-family: "yUniverse";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "yUniverse";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/yUniverse/yUniverse-Bold.ttf") format("truetype");
    font-display: swap;
}
.yUniverse {
    font-family: "yUniverse";
}
.yUniverse300 {
    font-family: "yUniverse";
    font-weight: 300;
}
.yUniverse700 {
    font-family: "yUniverse";
    font-weight: 700;
}